.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 12px;
  background: #f8f9fc;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 4px solid #d1d5db;
  border-top-color: #4f46e5; /* Morado elegante */
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loader-container p {
  font-size: 1.1rem;
  color: #4b5563;
  font-weight: 500;
}
