.containerfondocomponent {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center; 
    gap: 40px;
    width: 100vw;
    height: 700px;
    position: relative;
    overflow: hidden;
    color: white;
    text-align: center;
}

.containerfondocomponent::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* Propiedades de la imagen de fondo */
    background-image: url('/public/portadarc.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* Aplica el filtro de desenfoque (blur) */
    filter: blur(0.4px);

    /* Crea la capa de color oscuro y la mezcla con la imagen */
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;

    /* Mueve esta capa detrás del contenido del contenedor */
    z-index: -1;
}

.texto {
    max-width: 900px; 
    height: auto;
    display: block; 
    position: relative;
}

.textoprincipal {
    font-family: 'Climate Crisis', sans-serif;
    font-size: 64px;
    line-height: 1.1;
    margin: 0; 
    padding: 0;
}

.boton {
    display: block;
    position: relative; 
    z-index: 10;
}

.boton-superpuestofondo {
    position: relative !important; 
    top: auto !important;
    left: auto !important;
    transform: none !important;
    margin-top: 10px;
}


@font-face {
    font-family: 'Climate Crisis';
    src: url('../fonts/ClimateCrisis-Regular-VariableFont_YEAR.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alexandria';
    src: url('../fonts/alexandria.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

