@media (max-width: 480px) {
  .input-group {
    flex-direction: row; /* o column si quieres que el icono quede arriba */
    padding: 10px;
    width: 100%;
  }

  .input-field {
    font-size: 14px;
  }

  .icon {
    font-size: 1.2rem;
    margin-right: 6px;
  }
}

.input-group {
  display: flex;
  align-items: center;
  background-color: white;
  border: 2px solid #000;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 0 12px;
  width: 100%;
  box-sizing: border-box;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 1.5rem;
  margin-right: 8px;
  color: black;
}

.input-field {
  border: none;
  outline: none;
  padding: 12px;
  flex: 1;
  font-size: 16px;
  min-width: 0;
}