.junta-container {
  text-align: center;
  padding: 2rem;
  background: #d48737;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.tab {
  background: #f0f0f0;
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tab.active {
  background: #d48737;
  color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  
}

.miembros-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  padding: 3rem 1rem 1rem 1rem;
  background-color: white;
}

.card {
  background: #d48737;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-15px);
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.info {
  padding: 1rem;
  background: #d48737;
  color: white;
}

.cargo {
  color: blanchedalmond;
  font-weight: 600;
}
