.containerprincipios {
    display: block;
    width: 98.9vw;
    height: auto;
}

.containertitulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;

}

.containertitulo p {
    text-align: center;
    width: 1270px;
    font-size: 26px;
}

.titulo {
    display: flex;
}

.titulo h2 {
    font-size: 32px;
}

.titulo img {
    margin-left: 1rem;
    width: 40px;
    height: 40px;
    
}


.containertarjetasprincipios {
     align-items: center;
        flex-direction: column;
    display: flex;
    width: 98.9vw;
}

.tarjetaprincipios-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98.9vw;
    background-color: #D40000;
    color: white;
    font-size: 28px;
}
.contenidoprincipios-parrafo{
    width: 1270px;
    align-items: center;
    font-size: 28px;
    text-align: center;
}

